.root {
  .graphWrapper {
    margin-top: 50px;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .editWrapper {
    .button {
      display: flex;
      justify-content: space-around;
      button {
        margin-top: 60px;
      }
      button {
        margin-top: 60px;
      }
    }
  }
}
