.root {
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 20px;
  .container {
    margin-top: 30px;
    width: 60vw;
    display: flex;
    .title {
    }
    .alreadyCourse {
      margin-right: 20px;
    }
    .newCourse {
    }
  }
}
